body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Oxygen', sans-serif;
  color: #333;
  background-image: url("bkgrd.jpg");
}

h1 {
  margin: 0;
  font-size: 3em;
  font-weight: 500;
}
.stuff {
  backgroun-color: white;
  opacity: 0.5;
}
p {
  font-weight: 300;
  color: #aaa;
  font-size: 1em;
}

.link-catagories {
  text-align: center;
}

a:hover {
  color: #0099CC;
}

h2 {
  font-weight: 400;
  font-size: 1.5em
}
img {
  width: 30px;
  height: 30px;
  padding-bottom: 7.5px
}
