body {
  text-align: center;
}
h1 {
  font-family: 'Just Another Hand', cursive;
  font-size: 3em;
}
p {
 font-family: 'Raleway', sans-serif;
}
#header {
  width: 480px;
  padding-top: 50px;
  padding-bottom: 50px;
}
