a {
  text-decoration: none;
}
nav a:link {
    color: white;
}
nav a:visited {
    color: white;
}
nav a:hover {
    color: #d9d9d9;
}
nav a:active {
    color: #d9d9d9;
}
body {
	font-family: Arial;
	background-image: url(http://i.cubeupload.com/WHTnid.png);
}
html {
	margin-right: 150px;
	margin-bottom: 100px;
	margin-left: 150px;
	text-align: justify;
}
span {
	font-family: cursive;
	text-indent: 50px;
}
nav ul {
	
	list-style:none;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
        border-radius: 10px;
}

nav ul li {
	
	display: inline-block;
	background-color: #23BF68;
	padding: 10px;
	margin: 0px 10px;
	text-align: center;
        border-radius: 10px;
}
.body {
	background-color: #FFFFFF;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	float: right;
        border-radius: 10px;
}
h1 {
 	font-family: Arial;
 	font-size: 120px;
 	color: #FFFFFF;
 	text-align: center;
     	font-weight: bold;
 }
 main {
 	 font-family: Arial;
 	font-size: 60px;
 	color: black;
 	text-align: center;
 }
