a {
  text-decoration: none;
}
body {
	font-family: Arial;
	background-image: url(http://i.cubeupload.com/WHTnid.png);
}
h2 {
	text-align: center;
}
img {
	text-align: center;
}
html {
	margin-top: 100px;
	margin-right: 150px;
	margin-bottom: 100px;
	margin-left: 150px;
	text-align: justify;
}
span {
	font-family: cursive;
}
nav ul {
	
	list-style:none;
	background-color: #FFFFFF;
	padding: 10px;
}

nav ul li {
	
	display: inline-block;
	background-color: #737373;
	padding: 10px;
	margin: 0px 10px;
	text-align: center;
}
.body {
	background-color: #FFFFFF;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	float: right;
}
