a {
  text-decoration: none;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: #d9d9d9;
}
a:active {
    color: #d9d9d9;
}
body {
	font-family: Arial;
	background-image: url(http://i.cubeupload.com/WHTnid.png);
}
html {
	margin-top: 100px;
	margin-right: 150px;
	margin-bottom: 100px;
	margin-left: 150px;
	text-align: justify;
}
span {
	font-family: cursive;
}
nav ul {
	
	list-style:none;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
}

nav ul li {
	
	display: inline-block;
	background-color: #23BF68;
	padding: 10px;
	margin: 0px 10px;
	text-align: center;
}
.body {
	background-color: #FFFFFF;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	float: right;
}
h1 {
	font-family: Arial;
	font-size: 120px;
	color: #FFFFFF;
	text-align: center;
    	font-weight: bold;
}
span {
	color: black;
}
