body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Oxygen', sans-serif;
  color: #333;
}

h1 {
  margin: 0;
  font-size: 2em;
  font-weight: 900;
}

p {
  font-weight: 300;
  color: #aaa;
  font-size: 0.75em;
}

.link-catagories {
  display: flex;
  flex-direction: row;
  max-width: 450px;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
}

.link-catagory {
  width: 150px;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  font-size: 0.75em;
  color: #3366BB;
  line-height: 1.5em;
}

a:hover {
  color: #0645AD;
}

h2 {
  font-weight: 500;
}
